.img
{
	display: flex;
	justify-content: center;
	margin: auto;
}

.content
{
	margin:0em 3.5em 3.5em 3.5em;
	background-image: url("./images/Capture.PNG");
	/*background-size: 100%;*/
	/*background-attachment: fixed;*/
	background-position: center;
	background-repeat: no-repeat;
}

.main-header
{
	/*color:#3714e0;*/
	color:#4182ea;
}

h3
{
	color:magenta;
}